

body{
  font-family: arial;
  /* background: url("../img/bb1366.png"); */
}

/* main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
} */
div#colorLogin {
  padding: 50px;
}

#fieldsetLogin{
  /* width: auto;
  height: auto; */
  border: 2px solid #fedb00;
  border-radius: 15px;
  padding: 14%;
  text-align: left;
  font-family: Arial, Verdana , sans-serif;
}

#legendLogin{
  background-color: #fedb00;
  border: 1px solid #0033a0;
  border-radius: 10px;
  padding: 5px 5px;
  text-align: left;
  color : #0033a0;
  text-transform: uppercase;
  font-size: 15px;
  font-family: Arial, Verdana , sans-serif;
}

#buttonLogin {
  text-align: center;
  padding: 4%;
}
