footer {
  position: fixed;
  width: 100%;
  margin-right: 0px;
  bottom: 0px;
  background: #fedb00;
  border-bottom-color: blue;
  border-width: 10px;
  border-top: solid;
}

/* footer .row{
  min-width: 100%;
  height: 20px;
  background: #fedb00;
  margin-right: 0px;
} */
