td.td1{
  background: blue;
}

td.td4{
  background: green;
}

td.td6{
  background: green;
}

td.td16{
  background: green;
}

td.td21{
  background: green;
}

td.td28{
  background: yellow;
}

td.td7{
  background: yellow;
}

td.td17{
  background: yellow;
}


td.td5{
  background: blue;
}

td.td10{
  background: blue;
}

td.td15{
  background: blue;
}

td.td22{
  background: blue;
}

td.td27{
  background: blue;
}
