#calendario_home{
  margin: 0px;
}

div#calendario_home div.col {
    padding: 0px;
    margin-right: 10px;
    margin-left: 10px;
}

#blank {
    color: #343a40;
}

#legenda{
  color: #ffffff;
}
