body{
  font-family: :arial;
  /* background: url("../img/bb1366.png"); */
}

main .carousel-inner img{
  width: auto;
  height: 500px;
}

#ecoa img{
  width: 150px;
}

main.row {
    margin-right: 0px;
}
