@media screen and (max-width: 755px) {
  main .main-carousel{
    height: 250px !important;
  }
}

/*####################### carousel ###########################*/
main .main-carousel{
  height: 400px;
  margin-bottom: 10px;
}

main .carousel-cell {
  text-align: center;
  width: 90%;
  height: 100%;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
}

main .carousel-cell-image{
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
}

main .flickity-page-dots { 
  bottom: 10px; 
}

/*####################### Avisos ###########################*/

main .avisos p{
  text-align: justify;
}

main .avisos figure{
  margin-top: 5px;
  text-align: center;
}

main .avisos img{
  max-height: 30px;
}

main .avisos {
  background: #8C8;
  margin:10px;
  border: solid;
  border-radius: 50px;
}

/*####################### Outros ###########################*/
main .container{
  margin-bottom: 30px;
}